In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import os

from datetime import datetime
import time
import re

In [ ]:
file_path = '/content/drive/MyDrive/Merged Data/LatestData/Master2.xlsx'
df = pd.read_excel(file_path, na_values='--')

/usr/local/lib/python3.9/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [ ]:
df.columns

Index(['Scheme_name', 'Category', 'Category_Equity', 'Category_Debt',
       'Category_Hybrid', 'Expense_ratio', 'Risk_factor', 'age_in_months',
       'Rating', 'Launch', 'Net_assets', 'Return_1wk', 'Return_1m',
       'Return_3m', 'Return_6m', 'Return_1yr', 'Return_3yr', 'Return_5yr',
       'Return_10yr', 'Return_SIP_3yr', 'Return_SIP_5yr', 'Return_SIP_10yr',
       'Equity Fund Style', 'Equity_fund_style_Growth',
       'Equity_fund_style_Value', 'Equity_fund_style_Blend', 'YTM',
       'Standard Deviation', 'Sharpe Ratio', 'Sortino Ratio', 'Beta', 'Alpha',
       'R-Squared', 'NAV_latest', 'NAV_previous', 'NAV_52wk_high',
       'NAV_52wk_low', 'Minimum_Investment', 'Fund_Manager_Tenure',
       'Fund_manager'],
      dtype='object')

In [ ]:
df.shape

(926, 40)

In [ ]:
#Selecting funds >18 months
# print(type(df['age_in_months'].astype('int')))
df = df[df['age_in_months']>18]
df.shape

(926, 40)

In [ ]:
#Drop rows with no return values
df = df.dropna(subset=['Return_1wk','Return_1m','Return_3m'], how='all')
df.shape

(926, 40)

In [ ]:
#Create funds managed by fund manager column
funds_managed_by = df['Fund_manager'].value_counts().to_dict()
df['#_Funds_managed'] = df.apply(lambda row: funds_managed_by[row.Fund_manager], axis=1)
# df = df.replace({'Fund_manager': funds_managed_by})

In [ ]:
df.head

<bound method NDFrame.head of                                            Scheme_name  Category  \
0    Aditya Birla Sun Life Bal Bhavishya Yojna - Di...    EQ-FLX
1    Aditya Birla Sun Life Banking & Financial Serv...   EQ-BANK
2    Aditya Birla Sun Life Commodity Equities Fund ...   EQ-INTL
3    Aditya Birla Sun Life Digital India Fund - Dir...     EQ-IT
4    Aditya Birla Sun Life Dividend Yield Fund - Di...  EQ-DIV Y
..                                                 ...       ...
921               UTI Hybrid Equity Fund - Direct Plan     HY-AH
922                 UTI Multi Asset Fund - Direct Plan    HY-MAA
923             UTI Regular Savings Fund - Direct Plan     HY-CH
924  UTI Retirement Benefit Pension Fund - Direct Plan     HY-BH
925       UTI Unit Linked Insurance Plan - Direct Plan    HY-DAA

     Category_Equity  Category_Debt  Category_Hybrid  Expense_ratio  \
0                  1              0                0           0.76
1                  1              0                0           1.17
2                  1              0                0           1.29
3                  1              0                0           0.88
4                  1              0                0           1.73
..               ...            ...              ...            ...
921                0              0                1           1.35
922                0              0                1           1.05
923                0              0                1           1.22
924                0              0                1           1.06
925                0              0                1           0.97

         Risk_factor  age_in_months  Rating     Launch  ... Alpha  R-Squared  \
0          Very High             49     2.0 2019-02-11  ... -5.66       0.94
1          Very High            111     2.0 2013-12-14  ...  0.20       0.96
2          Very High            122     NaN 2013-01-01  ...   NaN        NaN
3          Very High            122     NaN 2013-01-01  ...  4.80       0.90
4          Very High            122     NaN 2013-01-01  ...  3.62       0.90
..               ...            ...     ...        ...  ...   ...        ...
921        Very High            122     3.0 2013-01-01  ...  3.47       0.93
922        Very High            122     2.0 2013-01-01  ... -1.87       0.90
923  Moderately High            122     3.0 2013-01-01  ...  2.71       0.84
924             High            122     NaN 2013-01-01  ...  3.20       0.93
925             High            122     2.0 2013-01-01  ... -1.35       0.87

     NAV_latest  NAV_previous  NAV_52wk_high  NAV_52wk_low  \
0         13.75         13.71          15.26         12.52
1         41.83         41.51          46.71         35.15
2         36.92         36.22          44.33         35.08
3        126.85        126.54         151.66        115.18
4        284.74        284.57         302.25        231.67
..          ...           ...            ...           ...
921     271.239       270.569        284.296       239.698
922      49.392        49.355         50.551          42.6
923      56.752        56.701         57.505         52.78
924      37.947        37.896         38.656        34.694
925       33.89        33.831         35.203        32.036

     Minimum_Investment  Fund_Manager_Tenure            Fund_manager  \
0                  1000                  2.0            Atul Penkar
1                  1000                  7.6            Dhaval Gala
2                  1000                  0.3           Dhaval Joshi
3                  1000                  9.2           Kunal Sangoi
4                  1000                  1.0            Dhaval Gala
..                  ...                  ...                     ...
921               1,000                 10.2             V Srivatsa
922               5,000                  1.6            Sunil Patil
923               5,000                 10.2  Amandeep Singh Chopra
924                 500                 10.2             V Srivatsa
925              15,000                  8.3            Sunil Patil

     #_Funds_managed
0                  4
1                  3
2                  4
3                  2
4                  3
..               ...
921                5
922                3
923                3
924                5
925                3

[926 rows x 41 columns]>

In [ ]:
#Replacing NA values w column average
df['Rating'].sum()/1080
#avg rating is 2

df['Rating'] = df['Rating'].fillna(2)
df.head

<bound method NDFrame.head of                                            Scheme_name  Category  \
0    Aditya Birla Sun Life Bal Bhavishya Yojna - Di...    EQ-FLX
1    Aditya Birla Sun Life Banking & Financial Serv...   EQ-BANK
2    Aditya Birla Sun Life Commodity Equities Fund ...   EQ-INTL
3    Aditya Birla Sun Life Digital India Fund - Dir...     EQ-IT
4    Aditya Birla Sun Life Dividend Yield Fund - Di...  EQ-DIV Y
..                                                 ...       ...
921               UTI Hybrid Equity Fund - Direct Plan     HY-AH
922                 UTI Multi Asset Fund - Direct Plan    HY-MAA
923             UTI Regular Savings Fund - Direct Plan     HY-CH
924  UTI Retirement Benefit Pension Fund - Direct Plan     HY-BH
925       UTI Unit Linked Insurance Plan - Direct Plan    HY-DAA

     Category_Equity  Category_Debt  Category_Hybrid  Expense_ratio  \
0                  1              0                0           0.76
1                  1              0                0           1.17
2                  1              0                0           1.29
3                  1              0                0           0.88
4                  1              0                0           1.73
..               ...            ...              ...            ...
921                0              0                1           1.35
922                0              0                1           1.05
923                0              0                1           1.22
924                0              0                1           1.06
925                0              0                1           0.97

         Risk_factor  age_in_months  Rating     Launch  ... Alpha  R-Squared  \
0          Very High             49     2.0 2019-02-11  ... -5.66       0.94
1          Very High            111     2.0 2013-12-14  ...  0.20       0.96
2          Very High            122     2.0 2013-01-01  ...   NaN        NaN
3          Very High            122     2.0 2013-01-01  ...  4.80       0.90
4          Very High            122     2.0 2013-01-01  ...  3.62       0.90
..               ...            ...     ...        ...  ...   ...        ...
921        Very High            122     3.0 2013-01-01  ...  3.47       0.93
922        Very High            122     2.0 2013-01-01  ... -1.87       0.90
923  Moderately High            122     3.0 2013-01-01  ...  2.71       0.84
924             High            122     2.0 2013-01-01  ...  3.20       0.93
925             High            122     2.0 2013-01-01  ... -1.35       0.87

     NAV_latest  NAV_previous  NAV_52wk_high  NAV_52wk_low  \
0         13.75         13.71          15.26         12.52
1         41.83         41.51          46.71         35.15
2         36.92         36.22          44.33         35.08
3        126.85        126.54         151.66        115.18
4        284.74        284.57         302.25        231.67
..          ...           ...            ...           ...
921     271.239       270.569        284.296       239.698
922      49.392        49.355         50.551          42.6
923      56.752        56.701         57.505         52.78
924      37.947        37.896         38.656        34.694
925       33.89        33.831         35.203        32.036

     Minimum_Investment  Fund_Manager_Tenure            Fund_manager  \
0                  1000                  2.0            Atul Penkar
1                  1000                  7.6            Dhaval Gala
2                  1000                  0.3           Dhaval Joshi
3                  1000                  9.2           Kunal Sangoi
4                  1000                  1.0            Dhaval Gala
..                  ...                  ...                     ...
921               1,000                 10.2             V Srivatsa
922               5,000                  1.6            Sunil Patil
923               5,000                 10.2  Amandeep Singh Chopra
924                 500                 10.2             V Srivatsa
925              15,000                  8.3            Sunil Patil

     #_Funds_managed
0                  4
1                  3
2                  4
3                  2
4                  3
..               ...
921                5
922                3
923                3
924                5
925                3

[926 rows x 41 columns]>

In [ ]:
# Update NA return values with 0 and drop columns
# Drop NAV_previous since correlation with NAV_latest=1
df.update(df[['Return_1wk','Return_1m', 'Return_3m', 'Return_6m', 'Return_1yr', 'Return_3yr', 'Return_5yr', 'Return_10yr']].fillna(0))
df.drop(['YTM','Beta', 'Alpha','R-Squared', 'Equity Fund Style', 'Launch', 'Return_SIP_3yr', 'Return_SIP_5yr', 'Return_SIP_10yr', 'NAV_previous'], axis=1, inplace=True)

In [ ]:
df['Risk_factor'].value_counts()

Very High          530
Moderate           146
Low to Moderate    106
Moderately High     64
Low                 59
High                21
Name: Risk_factor, dtype: int64

In [ ]:
risk_factor_map = {'Very High':5, 'Moderate':2, 'Low to Moderate':1, 'Moderately High':3, 'Low':0, 'High':4}
df['Risk_factor'] = df['Risk_factor'].map(risk_factor_map)
df.head

<bound method NDFrame.head of                                            Scheme_name  Category  \
0    Aditya Birla Sun Life Bal Bhavishya Yojna - Di...    EQ-FLX
1    Aditya Birla Sun Life Banking & Financial Serv...   EQ-BANK
2    Aditya Birla Sun Life Commodity Equities Fund ...   EQ-INTL
3    Aditya Birla Sun Life Digital India Fund - Dir...     EQ-IT
4    Aditya Birla Sun Life Dividend Yield Fund - Di...  EQ-DIV Y
..                                                 ...       ...
921               UTI Hybrid Equity Fund - Direct Plan     HY-AH
922                 UTI Multi Asset Fund - Direct Plan    HY-MAA
923             UTI Regular Savings Fund - Direct Plan     HY-CH
924  UTI Retirement Benefit Pension Fund - Direct Plan     HY-BH
925       UTI Unit Linked Insurance Plan - Direct Plan    HY-DAA

     Category_Equity  Category_Debt  Category_Hybrid  Expense_ratio  \
0                  1              0                0           0.76
1                  1              0                0           1.17
2                  1              0                0           1.29
3                  1              0                0           0.88
4                  1              0                0           1.73
..               ...            ...              ...            ...
921                0              0                1           1.35
922                0              0                1           1.05
923                0              0                1           1.22
924                0              0                1           1.06
925                0              0                1           0.97

     Risk_factor  age_in_months  Rating Net_assets  ...  Standard Deviation  \
0              5             49     2.0        637  ...               19.33
1              5            111     2.0      2,385  ...               33.75
2              5            122     2.0         16  ...               22.66
3              5            122     2.0      3,338  ...               24.56
4              5            122     2.0        850  ...               21.16
..           ...            ...     ...        ...  ...                 ...
921            5            122     3.0      4,287  ...               17.81
922            5            122     2.0        860  ...               14.08
923            3            122     3.0      1,544  ...                6.59
924            4            122     2.0      3,687  ...                9.45
925            4            122     2.0      5,069  ...               10.49

     Sharpe Ratio  Sortino Ratio  NAV_latest  NAV_52wk_high  NAV_52wk_low  \
0            0.37           0.47       13.75          15.26         12.52
1            0.38           0.45       41.83          46.71         35.15
2            0.76           0.89       36.92          44.33         35.08
3            1.08           1.37      126.85         151.66        115.18
4            0.82           0.98      284.74         302.25        231.67
..            ...            ...         ...            ...           ...
921          0.82           0.88     271.239        284.296       239.698
922          0.48           0.53      49.392         50.551          42.6
923          0.99           1.22      56.752         57.505         52.78
924          0.96           1.03      37.947         38.656        34.694
925          0.48           0.48       33.89         35.203        32.036

     Minimum_Investment  Fund_Manager_Tenure            Fund_manager  \
0                  1000                  2.0            Atul Penkar
1                  1000                  7.6            Dhaval Gala
2                  1000                  0.3           Dhaval Joshi
3                  1000                  9.2           Kunal Sangoi
4                  1000                  1.0            Dhaval Gala
..                  ...                  ...                     ...
921               1,000                 10.2             V Srivatsa
922               5,000                  1.6            Sunil Patil
923               5,000                 10.2  Amandeep Singh Chopra
924                 500                 10.2             V Srivatsa
925              15,000                  8.3            Sunil Patil

     #_Funds_managed
0                  4
1                  3
2                  4
3                  2
4                  3
..               ...
921                5
922                3
923                3
924                5
925                3

[926 rows x 31 columns]>

In [ ]:
df.shape
df.to_excel('/content/drive/MyDrive/Merged Data/LatestData/ProcessedData3.xlsx', index=False)